.image {
    height: 80vh;
}
.carousel-item::before {
    content: '';
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1; 
}
/* .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 0;
} */

/* @media all and (max-width: 768px) {
    .card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
    }
} */