.image {
    height: 80vh;
}
.carousel-item::before {
    content: '';
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1; 
} 
.carousel {
    margin-bottom: 170px;
} 
.welcome {
    font-size: 40px;
}
.adventure {
    letter-spacing: 2px;
    font-size: 80px;
}
.luxury {
    font-size: 20px;
}

@media all and (max-width: 576px) {
    .carousel {
        margin-bottom: 100px;
    } 
    .welcome {
        font-size: 00px;
    }
    .adventure {
        letter-spacing: 1px;
        font-size: 50px;
    }
    .luxury {
        font-size: 20px;
    }
}